<html>
    <head></head>
    <body>
            <form action="{%url 'checkcode'%}">

            
                    회원님의 개인코드를 입력하세요:
                    <input type="text" name="personalcode" value="">
                    <br>
                    <h3>출근하셨다면, '돈 벌자'라고 적어주세요</h3>
                    <h3>퇴근하신다면, '고생했어'라고 적어주세요</h3>
                    <input type="text" name="go" value="">


                    <input class="btn btn-primary" type="submit" value="상태 바꾸기">
            </form>
    </body>
</html>


